SERVICE_NAME=disease-service
PORT=3004
NODE_ENV=development
JWT_SECRET=your_jwt_secret
AI_SERVICE_URL=http://ai-service:3003
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SUPABASE_URL=https://your-project.supabase.co
RABBITMQ_URL=amqp://admin:password@localhost:5672
