SERVICE_NAME=order-service
PORT=3008
NODE_ENV=development
JWT_SECRET=your_jwt_secret
SUPABASE_URL=https://your-project.supabase.co
ECOMMERCE_SERVICE_URL=http://ecommerce-service:3007
RABBITMQ_URL=amqp://admin:password@localhost:5672
